{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="container text-center">
        {{ include('admin/_form.html.twig', {button: "Créer"} )}}
    </div>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <th>Email</th>
                <th>Mot de passe</th>
                <th>Nom</th>
                <th>Prénom</th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
